#bbfm_container{
    width: 200px;
    text-align: center;
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    box-sizing: content-box;
    clear: both;
}

#bbfm_payment_qrcode{
}

#bbfm_payment_qrcode img{
    display: inline;
}

#bbfm_button_footer{
    font-size: 70%;
    font-style: italic;
}
#bbfm_button_footer a {
    color: black;
}

#bbfm_test_notif{
    color: red;
    font-size: 80%;
}

.bbfm_completed{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('./icon/Valid-Green.png');
    background-repeat:no-repeat;
    padding: 8px;
    margin-bottom: 8px;
}

.bbfm_processing{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('./icon/Attention.png');
    background-repeat:no-repeat;
    padding: 8px;
    margin-bottom: 8px;
}


.bbfm_info, .bbfm_success, .bbfm_warning, .bbfm_error, .bbfm_validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.bbfm_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('./icon/Info.png');
}

.bbfm_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('./icon/Valid-Green.png');
}

.bbfm_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('./icon/Attention.png');
}

.bbfm_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('./icon/Cancel.png');
}